<!-- setting up html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Pizza Palace</title>
</head>

<body>
    <!-- menu items using flask selection -->
    <h1>Pizza Palace</h1>

    <h2>Menu</h2>
{% for pizza in pizzas %}
    <article>
        <h3>{{ pizza["name"] }}</h3>
        <p>{{ pizza["description"] }}</p>
        <p>${{ "%.2f"|format(pizza["price"]) }}</p>
       <a href="{{ url_for('customise', pizza_id=pizza['id']) }}">Select</a>
    </article>
{% endfor %}
    
    <!-- sends user back to home page -->
    <a href="{{ url_for('home') }}">Home</a>
</body>
</html>